node_modules
.pnpm-store
.output
.vinxi
.tanstack
dist
build
.cache
.env
.env.local
.env.*.local
.DS_Store
.idea
.vscode
*.log
*.tsbuildinfo
/logs/
coverage
.vitest
app/routeTree.gen.ts
app.config.timestamp_*.js
vite.config.timestamp_*.*
drizzle/migrations/meta/_journal.json.lock
pgdata
.git
.gitignore
.github
docs
**/*.test.ts
**/*.spec.ts
tests
